*{
    padding: 0;
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}
.login-card{
    width: 250px;
    border: none;
    box-shadow: 0 0 20px white;
    border-radius: 5px;
    padding-top: 20px;
    rotate: 0deg;
    overflow: hidden;
    rotate: 10deg;
}
.login-card-header span{
    padding: 20px;
    font-family: Arial;
    font-weight: 500;
    font-size: 20px;
}
.login-card-field {
    padding: 10px;
    display: flex;
    justify-content: center;
    
}
.login-card-field input{
    background-color: black;
    border: none;
    color: white;
    border-bottom: 2px solid white;
}
.login-card-field input:focus {
    border: none;
    outline: none;
    border-bottom: 2px solid purple;
    color: white;
}
button{
    position: relative;
    left: 130px;
    width: 70px;
    margin: 20px;
    background-color: rgb(252, 14, 14);
    border: none;
    color: white;
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
}
button:hover{
    scale: 0.9;
}
.login-card-whitebox{
    width: 150px;
    background-color: white;
    height: 15px;
    rotate: 40deg;
    margin-left: -40px;
}
